.section-data {
    &__content {
        background-color: $background-data;
        width: calc(100dvw - 200px);
        height: fit-content;
        padding-bottom: 60px;
        border-radius: 20px;
        margin: 40px auto 100px;

        @include responsive ('tablet'){
            width: calc(100dvw - 160px);
            margin: 0 auto  60px;
            height: fit-content;
            padding-bottom: 40px;
          }
          
        &__nav {
            display: flex;
            justify-content: space-between;
        }
    }

    #data-container {
        background-color: $background-data;
        display: flex;
    }
}

.p_titre, .p_reseaux{
    font-size: 23px;
    color: black;
    margin: 10px;
}
.p_titre{
    text-align: center;
    padding-bottom: 20px;
    padding-top: 20px;
}
.conso--2020__content, .conso--2023__content, .users--2020__content, .users--2023__content, .pollution--2020__content, .pollution--2023__content{
    display: flex;
    flex-direction: row;
    align-items:flex-start;
    text-align: center;
}
.conso--2020__Discord, .conso--2020__Instagram, .conso--2020__Facebook, .conso--2023__Discord, .conso--2023__Instagram, .conso--2023__Facebook, .users--2020__Discord, .users--2020__Instagram, .users--2020__Facebook, .users--2023__Discord, .users--2023__Instagram, .users--2023__Facebook, .pollution--2020__Discord, .pollution--2020__Instagram, .pollution--2020__Facebook, .pollution--2023__Discord, .pollution--2023__Instagram, .pollution--2023__Facebook{
    width: 33.33%;
}
.p{
    color: black;
    font-size: 16px;
    margin: 10px;
}
.p_gras{
    font-weight: bolder;
    color: black;
    margin: 10px;
}
.btn--suivant, .btn__actif{
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius:10px 10px 0 0;
    text-align: center;
    width: fit-content;
    height: 40px;
}

.btn--suivant:hover{
    background-color: #838b83;
}
  
.btn--suivant{
    border-radius: 10px;
}

