.section-data {
    &__content {
        background-color: $background-data;
        width: 1000px;
        height: 790px;
        border-radius: 20px;
        margin: 40px auto 0;
        
        &__nav {
            display: flex;
            justify-content: space-between;
        }
    }

    #data-container {
        background-color: $background-data;
        display: flex;
    }
}

.p_titre, .p_reseaux{
    font-size: 23px;
    color: black;
    margin: 10px;
}
.p_titre{
    text-align: center;
}
.p{
    color: black;
    font-size: 16px;
    margin: 10px;
}
.p_gras{
    font-weight: bolder;
    color: black;
    margin: 10px;
}
.btn--suivant, .btn__actif{
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius:10px 10px 0 0;
    text-align: center;
    width: fit-content;
    height: 40px;
}

.btn--suivant:hover{
    background-color: #838b83;
}
  
.btn--suivant{
    border-radius: 10px;
}

