.section-quizz {
    width: fit-content;
    margin: 40px auto 0;


    p {
        margin:40px 0;
        
    }
    .question{
        text-align: center;

        @include responsive ('tablet'){
            font-size: 20px;
        }
        @include responsive ('mobile'){
            font-size: 14px;
        }
    }
    .options {
        @include responsive ('tablet'){
            font-size: 20px;
        }
        @include responsive ('mobile'){
            font-size: 14px;
        }
    }
}