@import 'utils/variables';
@import 'components/type';
body {
    font-family: Arial, sans-serif;
    background-color: #e0e0e0;
    text-align: center;
    margin: 0;
    padding: 20px;
}

h1 {
    color: #333;
}