@import 'utils/variables';
@import 'components/type';

body{
    margin: 0px;
    padding: 0px;
    font-size: 23px;
    color: aliceblue;
    font-family: 'albert sans';
    line-height: 1,4;
}

h1{
    font-size: 90px;
    margin-bottom: 0px;
}

h2{
    font-size: 64px;
    margin-bottom: 30px;
}

h3{
    font-size: 32px;
    margin-top: 80px;
    margin-left: 50px;
}

.img--background {
    position: fixed;  /* Fixe l'image en arrière-plan */
    top: 0;
    left: 0;
    width: 100vw;  /* Largeur = 100% de la fenêtre */
    height: 100vh; /* Hauteur = 100% de la fenêtre */
    object-fit: cover; /* Couvre toute la zone sans déformation */
    z-index: -1; /* Place l'image derrière les autres éléments */
}


.img--section2{
    top: 845px;
}

.img--section3{
    top: 1690px;
}

.header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
}

.scroll{
    position: absolute;
    height: 100%;
    z-index: 10;
    opacity: 0;
}

.texte--header{
    margin-left: 313px;
    margin-right: 313px;
}

.line--box{
    display: flex;
    justify-content: center;
}
.line_1{
    height: 3px;
    width: 80%;
    background-color: rgb(178, 182, 185);
}

a{
    text-decoration: none;
    color: aliceblue;
    padding-right: 30px;
}

.EN{
    margin-left: 800px;
    padding-right: 0px;
}

.link--header{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.card{
    height: 427px;
    width: 640px;
    background-color: black;
    border-radius: 20px;
    border: 2px solid white;
}

.section--1{
    margin-top: 30px;
}

.section--2{
    margin-top: 40px;
}

.texte--contenu{
    width: 640px;
    margin-bottom: 50px;
}

ul{
    list-style: none;
}

button{
    opacity: 0;
}

.grid--section2{
    background-color: rgb(185, 189, 189);
    width: 800px;
    height: 500px;
}

.grid--div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.Lsection{
    margin-top: 33px;
}



